*{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background: #121212;
}

header{
    margin: 5% 15% 5% 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #1b9aaa;
}

.d-flex{
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 18% 15px 18%;
    justify-content: space-between;
}

.half, .full{
    border: 2px solid #35605A;
    width: 30%;
    min-height: 200px;
    
}
.mt{
    margin-top: 0;    
}

div > p{
    color: #DDDBCB;
}

.float-right{
    float: right;
    background-color: #AC80A0;
    padding: 10px;
    
}

.mtt{
    margin-top: 40px;
    padding: 10px;
    height: 100%;
}

@media screen and (min-width: 992px){
    
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .d-flex{
        flex-wrap: wrap;
        
    }
    .half{
        white-space: normal;
        width: 46%;
        margin: 15px 7px 15px 7px;
    }
    .full{
        white-space: normal;
        width: 100%;
        margin: 15px 7px 15px 7px;
    }
}

@media screen and (max-width: 767px){
    .d-flex{
        flex-wrap: wrap;
        
    }
    .half{
        white-space: normal;
        width: 100%;
        margin: 15px 7px 15px 7px;
    }
    .full{
        white-space: normal;
        width: 100%;
        margin: 15px 7px 15px 7px;
    }
}